@use "./variables";
@use "./header";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: variables.$colorWhiteDark;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;

    @media (max-width: 768px) {
        max-width: 80%;
    }
    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

@mixin text($fontSize: 18px) {
    font-weight: 400;
    font-size: $fontSize;
    color: variables.$colorGray;
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--logo {
    @include text(24px);
    color: variables.$colorWhite;

    @media (max-width: 768px) {
        @include text(18px);
        color: variables.$colorWhite;
    }
}

.text--lupa {
    @include text;
    font-weight: 500;
    color: variables.$colorWhite;
    font-family: "Inter", sans-serif;
    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--date {
    @include text(16px);

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--title {
    @include text(26px);
    color: variables.$colorGrayDark;
    @media (max-width: 768px) {
        @include text(18px);
    }
}
